@font-face {
  font-family: IranSansWeb;
  src: url("./assets/fonts/IRANSansWeb.woff2") format('woff2');
}
@font-face {
  font-family: IranSansWebFaNum;
  src: url("./assets/fonts/IRANSansWeb(FaNum).woff2") format('woff2');
}
*{
  font-family: IranSansWebFaNum;
  box-sizing: border-box;
}
.pointer:hover{
  cursor: pointer;
}
.rtl{
  direction: rtl;
}
.ltr{
  direction: ltr;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.MuiAutocomplete-popper{
  direction: rtl !important;
}
.MuiPaginationItem-root{
  font-family: IranSansWebFaNum !important;
}
#controllable-states-demo{
  font-family: IranSansWebFaNum !important;
}
.activeTopMenuButton{
  background-color: #00BAC6;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  outline-style: none;
  font-size: 14px;
}
.deactiveTopMenuButton{
  background: #F2F2F2;
  color: #2B2B2B;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  outline-style: none;
  font-size: 14px;
}
.sc-kpOJdX label{
  display: none;
}
.nYegl label{
  display: none;
}
.font14{
  font-size: 14px;
}
.font15{
  font-size: 15px;
}
.font16{
  font-size: 16px;
}
.font17{
  font-size: 17px;
}
.colorMain{
  color: #00BAC6;
}
.backgroundMain{
  background: #00BAC6;
}
a:hover{
  text-decoration: none;
}
button {
  cursor: pointer;
}
button:disabled{
  cursor: wait;
}

